<%- include("header") -%>

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur nobis dolore assumenda nemo deserunt recusandae voluptatibus laudantium culpa minima accusamus laborum sequi sit fuga nisi qui, reprehenderit quaerat similique.</p>

<%- include("footer") -%>